<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Speak EZ</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Panton-Heavy.otf</string>
		<string>Panton-SemiBold.otf</string>
		<string>Panton-Black.otf</string>
		<string>Panton-Bold.otf</string>
		<string>Panton-ExtraBold.otf</string>
		<string>Panton-ExtraLight.otf</string>
		<string>Panton-Light.otf</string>
		<string>Panton-Regular.otf</string>
		<string>Panton-Thin.otf</string>
		<string>ADAM.CG PRO.otf</string>
		<string>SummitThin-Display.otf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>MavenProLight-100.otf</string>
		<string>MavenProLight-200.otf</string>
		<string>MavenProLight-300.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>For Speech Analytics</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>For Speech Analytics</string>
</dict>
</plist>
