<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>luisSubscriptionID</key>
	<string>499d52c193124118a32b8cee09785814</string>
	<key>luisAppID</key>
	<string>c2000db8-ee7e-4a1f-81dd-e2cea63e4be8</string>
	<key>primaryKey</key>
	<string>c5eaa946e0b2474bb5d26a18e9133a41</string>
</dict>
</plist>
